[defaults]
roles_path = roles
retry_files_enabled = false
host_key_checking = false
stdout_callback = default
callback_result_format = yaml
callbacks_enabled = ansible.posix.mount

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
