---
- name: Create apt keyrings directory
  ansible.builtin.file:
    path: /etc/apt/trusted.gpg.d
    state: directory
    mode: "0755"
  tags: [proxmox]

- name: Download and install Proxmox GPG key
  ansible.builtin.shell: |
    wget https://enterprise.proxmox.com/debian/proxmox-release-bookworm.gpg -O /etc/apt/trusted.gpg.d/proxmox-release-bookworm.gpg
  args:
    creates: /etc/apt/keyrings/proxmox-release-bookworm.gpg
  tags: [proxmox]

- name: Add Proxmox repository
  ansible.buitlin.shell: |
    echo "deb [arch=amd64] http://download.proxmox.com/debian/pve bookworm pve-no-subscription" | tee /etc/apt/sources.list.d/pve-install-repo.list > /dev/null
  args:
    creates: /etc/apt/sources.list.d/pve-install-repo.list
  tags: [proxmox]

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  tags: [proxmox]

- name: Install Proxmox VE Kernel
  ansible.builtin.apt:
    - proxmox-default-kernel
  state: present
  notify: Upgrade GRUB
  tags: [proxmox]

- name: Install Proxmox VE packages
  ansible.builtin.apt:
    - proxmox-ve
    - postfix
    - open-iscsi
    - chrony
  state: present
  tags: [proxmox]

- name: Remove the Debian Kernel
  ansible.builtin.shell: |
    apt remove linux-image-amd64 'linux-image-6.1*'
  notify: Update GRUB
  tags: [proxmox]

- name: Remove the os-prober Package
  ansible.builtin.shell: apt remove os-probe
  notify: Update GRUB
  tags: [proxmox]
