---
- name: Create apt keyrings directory
  ansible.builtin.file:
    path: /etc/apt/trusted.gpg.d
    state: directory
    mode: "0755"

- name: Download and install Proxmox GPG key
  ansible.builtin.shell: |
    wget https://enterprise.proxmox.com/debian/proxmox-release-bookworm.gpg -O /etc/apt/trusted.gpg.d/proxmox-release-bookworm.gpg
  args:
    creates: /etc/apt/keyrings/proxmox-release-bookworm.gpg

- name: Add Proxmox repository
  ansible.builtin.shell: |
    echo "deb [arch=amd64] http://download.proxmox.com/debian/pve bookworm pve-no-subscription" | tee /etc/apt/sources.list.d/pve-install-repo.list > /dev/null
  args:
    creates: /etc/apt/sources.list.d/pve-install-repo.list

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Install Proxmox VE Kernel
  ansible.builtin.apt:
    name:
      - proxmox-default-kernel
    state: present
  notify: Update GRUB

- name: Install Proxmox VE packages
  ansible.builtin.apt:
    name:
      - proxmox-ve
      - postfix
      - open-iscsi
      - chrony
    state: present

- name: Remove the Debian Kernel and os-prober
  ansible.builtin.apt:
    name:
      - linux-image-amd64
      - "linux-image-6.1*"
      - os-prober
    state: absent
  notify: Update GRUB
