---
- name: Start and enable nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true

- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded
