---
- name: Config netplan
  ansible.builtin.template:
    src: 01-netcfg.yaml.j2
    dest: /etc/netplan/01-netcfg.yaml
    owner: root
    group: root
    mode: "0644"
  notify: "Apply netplan config"
